.popup {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popup-add {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
