.header__logo {
  padding-top: 45px;
  padding-bottom: 41px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 600px) {
  .header__logo {
    padding-top: 25px;
    padding-bottom: 32px;
    max-height: 24px;
    max-width: 126px;
  }
}
