.profile {
  display: flex;
  max-width: 880px;
  max-height: 120px;
  margin: 40px auto 0;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
    max-height: 100%;
  }
}

