.popup__submit-form-btn {
  color: #fff;
  background-color: #000;
  height: 50px;
  width: 358px;
  margin: 48px auto 0;
  cursor: pointer;
  font-size: 18px;
  border: none;
  border-radius: 2px;
}

.popup__submit-form-btn:hover {
  opacity: 0.8;
}

.popup__submit-form-btn-disabled {
  cursor: not-allowed;
  opacity: 0.2;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: white;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .popup__submit-form-btn {
    width: 238px;
    height: 46px;
    font-size: 14px;
    margin-top: 46px;
  }
}
