.profile__subtitle {
  grid-area: subtitle;
  margin: 0;
  font-size: 18px;
  line-height: 122%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 900px) {
  .profile__subtitle {
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 600px) {
  .profile__subtitle {
    font-size: 14px;
    text-align: center;
  }
}
