.transition-in {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  z-index: 1;
}

/* animation to ease in transition
.transition-in {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transition: visibility 0s, opacity 0.5s linear;
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }
}

*/
