.card__image {
  max-width: 282px;
  max-height: 282px;
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
}

.card__image:hover {
  opacity: 0.8;
  transition: 0.2s;
}
