.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  background: transparent url('../../../images/Close\ Icon.png') center no-repeat;
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  z-index: 1;
}


@media screen and (max-width: 600px) {
  .popup__close-button {
    top: -50px;
    right: 0;
    height: 26px;
    width: 26px;
  }
}

