.card__location {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  grid-area: location;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding-left: 21px;
  padding-top: 25px;
  padding-bottom: 31px;
}
