.card__location {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  grid-area: location;
  padding-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.test-class {
  position: relative;
}
