.card {
  max-width: 282px;
  max-height: 361px;
  /*
  display: grid;
  grid-template-areas:
  "image image"
  "location like-button"; */
  display:flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #FFF;
}


@media screen and (max-width: 900px) {
  .card {
    margin: 0 auto 0;
  }
}
