.card {
  max-width: 282px;
  max-height: 361px;
  /*
  display: grid;
  grid-template-areas:
  "image image"
  "location like-button"; */
  display:flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #FFF;
}

@import url("../blocks/card/__image/card__image.css"); /* failed to load on github pages */
@import url("../blocks/card/__info/card__info.css");/* failed to load on github pages */
@import url("../blocks/card/__location/card__location.css");/* failed to load on github pages */
@import url("../blocks/card/__like-button/card__like-button.css");/* failed to load on github pages */



@media screen and (max-width: 900px) {
  .card {
    margin: 0 auto 0;
  }
}
