.card {
  max-width: 282px;

  display:flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #FFF;
}


@media screen and (max-width: 900px) {
  .card {
    margin: 0 auto 0;
  }
}
